.container {
    max-width: var(--container-width); 
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: content-box;
}

@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
}