.pagination {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.pageButton {
    min-width: 35px;
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    transition: all 0.3s ease;

    color: #313131;
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    cursor: pointer;
}
.active {
    background: var(--accent-color);
    border: none;
    color: #fff;
    font-weight: 700;
}
.pageButton:disabled {
    opacity: 0.5;
    border: 1px solid #E9E9E9;
    cursor: default;
}
