.homePage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: content-box;
}
.productsBlock{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.blockTitle{
    color: #0B254B;
    font-family: var(--font-montserrat);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.9px;
}
.blockDescription{
    color: #5E6E89;
    font-family: var(--font-poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: 0.1px;
    text-align: center;
}
.productsList{
    margin: 77px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px 33px;
}

.infoBlock{
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;

}
.infoBlock  .blockDescription{
    text-align: left;
}


.infoSection {
    margin-top: 35px;
    width: 100%;
    display: flex;
    gap: 20px 40px;
}

.infoList {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.infoItem {
    display: flex;
    gap: 0 14px;
}

.itemIcon {
    min-width: 46px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
}

.itemText {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.itemTitle {
    color: #000;
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.itemDescription {
    color: #000;
    font-family: var(--font-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.infoImg {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: contain;
    object-position: center;
}

.historyBlock{
    margin-top: 95px;
    margin-bottom: -40px;
    width: 100%;
    display: flex;
    gap: 30px 85px;
}
.historyImg{
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: contain;
    object-position: center;
}
.historySection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px 0;
}
.historyButton{
    width: 205px;
    height: 40px;
}

@media (max-width: 768px) {
    .productsList{
        margin: 45px 0 0 0;
        justify-content: center;
    }
    .blockTitle{
        font-size: 28px;
        line-height: 46px;   
    }
    .blockDescription{
        font-size: 16px;
        line-height: 24px;
    }
    .itemDescription{
        font-size: 16px;
    }
    .infoSection{
        flex-direction: column;
    }
    .infoBlock  .blockTitle, .infoBlock  .blockDescription{
        text-align: center;
    }
    .infoList{
        gap: 20px 0;
    }
    .historyBlock{
        flex-direction: column-reverse;
    }
}
