.sidebarSection {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebarTitle {
    width: 100px;
    color: var(--category-font-color);
    font-family: var(--font-josefin);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.categoryItem {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.categoryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.expandButton {
    width: 20px;
    height: 20px;
    display: flex;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}
.active{
    transform: rotateX(180deg);
}
.subcategories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}
